doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 Testing out the Pug template!!! 
    p Our deepest fear is not that we are inadequate.  Our deepest fear is that we are powerful beyond measure.